body{
    color: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    color: rgba(42, 157, 165, 0.918);
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 30px;
}

#media{
    color: blueviolet;
}